* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
}

.logo > img{
  width: 150px;
}

.logo {
  width: 320px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main img{
  width: 270px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin-top: 50px;
  /* margin-left: 100px; */
}

#b1{
  position: absolute;
  width: 10px;
  height: 40px;
  background: #7CBCCD;
  margin-top: 20px;
  margin-left: 5px;
}

h2{
  margin-left: 15px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

p{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
}

.header1{
  margin-top: 25px;
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  text-align:left;
}

.text1{
  /* margin-top: 10px; */
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  text-align:left;
}

#b2{
  position: absolute;
  width: 10px;
  height: 40px;
  background: #7CBCCD;
  margin-top: 200px;
  margin-left: 5px;
}

.header2{
  margin-top: 43px;
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  text-align: left;
}

.text2{
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  text-align:left;
}

.illustration > img{
  width: 280px;
}

.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  margin-top: 40px;
  margin-bottom: 100px;
}

#b3{
  position: absolute;
  width: 10px;
  height: 40px;
  background: #7CBCCD;
  margin-top: 600px;
  margin-left: 5px;
}

.header3{
  margin-top: -61px;
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  text-align:left;
}

.text3{
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  text-align: left;
  margin-bottom: 50px;
}

@media (min-width: 768px) {

  .logo > img{
    width: 250px;
  }

  .logo {
    width: 768px;
  }
  
  .main img{
    width: 500px;
  }

  .main{
  width: 768px;
  }

  .header1, .header2, .header3 {
    margin-left: 20px;
    width: 768px;
  }

  .header1 {
    margin-top: 25px;
  }

  .header2 {
    margin-top: 75px;
  }

  .header3 {
    margin-top: 20px;
  }

  .text1, .text2, .text3 {
    width: 700px;
    margin-left: 15px;
  }


  h2{
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
  }

  p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
  }

  #b1, #b2, #b3 {
    width: 20px;
    height: 60px;
  }

  #b3 {
    margin-top: 645px;
  }

  .illustration > img{
    width: 350px;
  }

  .illustration {
    width: 768px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .main img{
    width: 600px;
  }

  .main{
  width: 1024px;
  }
}
